<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Usuario Bloqueado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--h1 th:text="${clientMessage}"></h1-->
        <h1>Ha excedido el numero de intentos con el usuario [[${nombre}]]!</h1>
        <a th:href="@{'/login'}">Retroceder a Portal</a>
    </body>
</html>
