<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person Information</title>
</head>
<body>
    <h2>Enter Person Information</h2>
    <form th:object="${person}" th:action="@{/person}" method="post">
        
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>

        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" required>
        <br>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required>
        <br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        
        <label for="passw">Contraseña:</label>
        <input type="text" id="passw" name="passw" required>
        <br>
        
        <button type="submit">Submit</button>
    </form>
    <br>
    <a th:href="@{'/login'}">Volver a Log-in</a>
</body>
</html>