<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Portal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1 th:text="${clientMessage}"></h1>
            <form th:action="@{/login}" method="post">
                <label for="name">Name:</label>
                <input type="text" id = "name" name = "name" th:value="${nombre}" required>
                <label for="passw">Passw:</label>
                <input type="text" id = "passw" name = "passw" required>
                <button type="submit">Iniciar sesion</button>
            </form>
        </div>
        <div>
            <a th:href="@{'/registro_nuevo'}">Registrar nuevo usuario</a>
        </div>
    </body>
</html>
